<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>

<table>
    <thead>
    <th>ID</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Телефон</th>
    <th>Эл. почта</th>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getPhone()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <a th:href="'/updateUser?id='+${user.id}">Update</a>
            <a th:href="'/deleteUser?id='+${user.id}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<input type="button" value="Add User"
       onclick="window.location.href = 'new'">

</body>
</html>